<div>
    <h2>Personajes de Marvel</h2>
    <app-character
      [characters]="characters"
      (characterSelected)="onCharacterSelected($event)"
    ></app-character>

    <mat-paginator [length]="totalCharacters"
               [pageSize]="limit"
               [pageSizeOptions]="[20]"
               (page)="onPageChange($event)">
    </mat-paginator>
  
    <div *ngIf="selectedCharacterId">
      <h3>Comics del personaje seleccionado:</h3>
      <h3>{{selectedCharacterName}}</h3>

      <mat-grid-list cols="5" rowHeight="250px" gutterSize="16px">
        <mat-grid-tile *ngFor="let comic of comics">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ comic.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-sm-image [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" alt="">
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator #comicsPaginator [length]="totalComics"
                 [pageSize]="limitComics"
                 [pageSizeOptions]="[10]"
                 (page)="onComicsPageChange($event)">
    </mat-paginator>
    </div>
</div>
  
